header{
  width: 100%;
  height: 50px;
}
.top {
  float: right;
  margin: 0;
  width: 100%;
display: inline-inherit;
font-family: 'Playfair Display', serif;
color: yellow;
}
.knopke {
  background-color: blue;
}
div{
  display: inline-block;
}
